# Import Data and Establish Data Frame

In [24]:
#PyCitySchools Practice Space
import pandas as pd
import numpy as np

In [25]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# File to Load (Remember to Change These)

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Read School and Student Data File and store into Pandas DataFrames

In [26]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])

# Combine the data into a single dataset.

school_data_complete.head()

# Verify dataset grab and merge successful #39,170 rows of data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
cs_df = school_data_complete.copy()

# Create copy of data set to preserve original data

# Organize District Summary Data

In [13]:
total_schools = cs_df.school_name.value_counts().count()
total_schools

# Calculate the total number of schools

15

In [15]:
total_students = cs_df["Student ID"].count()
total_students

#Calculate the total number of students

39170

In [28]:
cs_budgets_only = cs_df.groupby("school_name").budget.mean().sum()
cs_budgets_only

total_budget = cs_budgets_only.sum()
total_budget

# #Calculates the total budget

24649428