### Import Data and Establish Data Frame

In [1]:
#PyCitySchools Practice Space
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# File to Load (Remember to Change These)

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Read School and Student Data File and store into Pandas DataFrames

In [3]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])

# Combine the data into a single dataset.

school_data_complete.head()

# Verify dataset grab and merge successful #39,170 rows of data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
cs_df = school_data_complete.copy()

# Create copy of data set to preserve original data

### Organize District Summary Data

In [5]:
total_schools = cs_df.school_name.value_counts().count()
total_schools

# Calculate the total number of schools

15

In [6]:
total_students = cs_df["Student ID"].count()
total_students

#Calculate the total number of students

39170

In [7]:
average_students = cs_df.groupby("school_name")["Student ID"].count().mean()
average_students

#Calculate the average number of students

2611.3333333333335

In [8]:
total_budget = cs_df.groupby("school_name").budget.mean().sum()
total_budget

# #Calculates the total budget

24649428

In [9]:
average_budget = cs_df.groupby("school_name").budget.mean().mean()
average_budget

# #Calculates the average budget

1643295.2

In [10]:
avg_math = cs_df.math_score.mean()
avg_math

#Calculates the average math score

78.98537145774827

In [11]:
avg_read = cs_df.reading_score.mean()
avg_read

#Calculates the average reading score

81.87784018381414

In [12]:
pass_math = cs_df.loc[cs_df["math_score"]>=70,:]
# pass_math /SUCCESS

pass_read = cs_df.loc[cs_df["reading_score"]>=70,:]
# pass_read /SUCCESS

pass_math_read = cs_df.loc[(cs_df["math_score"]>=70) & (cs_df["reading_score"]>=70),:]
# pass_math_read /SUCCESS

# LIST ONLY STUDENTS WHO'VE EARNED 70 OR HIGHER IN math / reading / and both

In [13]:
prc_pass_math = len(pass_math)/len(cs_df)*100 
prc_pass_math

#Calculate the percentage of students with a passing math score (70 or greater)

74.9808526933878

In [14]:
prc_pass_read = len(pass_read)/len(cs_df)*100  
prc_pass_read

#Calculate the percentage of students with a passing math score (70 or greater)

85.80546336482001

In [15]:
prc_pass_math_read = len(pass_math_read)/len(cs_df)*100 
prc_pass_math_read

#Calculate the percentage of students who passed math and reading (% Overall Passing)

65.17232575950983

### Establish Style Dictionary

In [49]:
style_dict = {
    "Total Students": "{:,}", 
    "Total Budget": "${:,}",
    "Per Student Budget":"${:,}",
    "Average Math": "{:.1f}", 
    "math_score": "{:.1f}",
    "reading_score": "{:.1f}", 
    "Average Reading": "{:.1f}",
    "% Passing Math": "{:.1f}%",
    "% Passing Reading": "{:.1f}%",
    "% Passing Overall": "{:.1f}%",
    "Student % Budget":"{:.2f}%",
    "9th": "{:.1f}",
    "10th": "{:.1f}",
    "11th": "{:.1f}",
    "12th": "{:.1f}"
}

# District Summary Table

In [17]:
district_dx =[{"Total Schools":total_schools,"Total Students":total_students,"Total Budget":total_budget,"Average Math":avg_math,"Average Reading":avg_read,
                 "% Passing Math":prc_pass_math,"% Passing Reading":prc_pass_read,"% Passing Overall":prc_pass_math_read
                }]
#create a dictionary of key items

district_df = pd.DataFrame(district_dx)
district_df.style.format(style_dict)
#Create a dataframe to hold results and deliver results cleanly

### Organize School Summary Data

In [18]:
school_type = cs_df.groupby("school_name")["type"].max()
school_type

#Identify School Types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [19]:
school_students = cs_df.groupby("school_name")["Student ID"].count()
school_students

#Identify School Students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [20]:
school_read_avg = cs_df.groupby("school_name")["reading_score"].mean()
school_read_avg

#Identify School Reading Average

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
school_math_avg = cs_df.groupby("school_name")["math_score"].mean()
school_math_avg

#Identify School Math Average

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [22]:
school_pass_math = pass_math.groupby("school_name")["math_score"].count()
school_pass_math

school_prc_pass_math = (school_pass_math/school_students)*100 
school_prc_pass_math

#Identify School % Passing Math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [23]:
school_pass_read = pass_read.groupby("school_name")["reading_score"].count()
school_pass_read

school_prc_pass_read = (school_pass_read/school_students)*100 
school_prc_pass_read

#Identify School % Passing Reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [24]:
school_pass_read_math = cs_df.loc[(cs_df["math_score"]>=70) & (cs_df["reading_score"]>=70),:].groupby("school_name")["grade"].count()
school_pass_read_math

school_prc_pass_read_math = (school_pass_read_math/school_students)*100 
school_prc_pass_read_math

#Identify School % Overall Passing

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [25]:
school_budget = cs_df.groupby("school_name")["budget"].mean()
school_budget

#Identify School Total Budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [26]:
school_average_budget = cs_df.groupby("school_name")["budget"].mean().mean()
school_average_budget

#Identify Average School Budget

1643295.2

In [27]:
school_budget_per_student = (school_budget/school_students)
school_budget_per_student

#Identify School Per Student Budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [28]:
school_average_per = (school_budget/school_students).mean()
school_average_per

#Identify School Per Student Budget

620.0666666666667

# School Summary Data

In [29]:
schools_df = pd.DataFrame({"School Type":school_type,"Total Students":school_students,"Total Budget":school_budget,
              "Per Student Budget":school_budget_per_student,"Average Math":school_math_avg,"Average Reading":school_read_avg,
              "% Passing Math":school_prc_pass_math,"% Passing Reading":school_prc_pass_read,"% Passing Overall":school_prc_pass_read_math
               }).rename_axis("")

schools_df.style.format(style_dict)
#Create a dataframe to hold results and deliver results cleanly

# Top 5 Performing Schools (By % Overall Passing)

In [30]:
top_schools_df = schools_df.sort_values(by='% Passing Overall', ascending=False).head(5).rename_axis("")
top_schools_df.style.format(style_dict)

#Sort and display the top five performing schools by % overall passing

# Bottom 5 Performing Schools (By % Overall Passing)

In [31]:
bottom_schools_df = schools_df.sort_values(by='% Passing Overall', ascending=True).head(5).rename_axis("")
bottom_schools_df.style.format(style_dict)

#Sort and display the five worst-performing schools by % overall passing.

# Math Scores by Grade

In [32]:
G9_math_data = cs_df.loc[(cs_df["math_score"]) & (cs_df["grade"]=="9th"),:]
G9_math = G9_math_data.groupby("school_name")["math_score"].mean()
G9_math

G10_math_data = cs_df.loc[(cs_df["math_score"]) & (cs_df["grade"]=="10th"),:]
G10_math = G10_math_data.groupby("school_name")["math_score"].mean()
G10_math

G11_math_data = cs_df.loc[(cs_df["math_score"]) & (cs_df["grade"]=="11th"),:]
G11_math = G11_math_data.groupby("school_name")["math_score"].mean()
G11_math

G12_math_data = cs_df.loc[(cs_df["math_score"]) & (cs_df["grade"]=="12th"),:]
G12_math = G12_math_data.groupby("school_name")["math_score"].mean()
G12_math

#Calculate math averages per grade

math_df = pd.DataFrame({"9th":G9_math,"10th":G10_math,"11th":G11_math,
              "12th":G12_math
               }).rename_axis("")

math_df.style.format(style_dict)

#Collect math averages per grade into stylish dataframe

# Reading Scores by Grade

In [33]:
G9_read_data = cs_df.loc[(cs_df["reading_score"]) & (cs_df["grade"]=="9th"),:]
G9_read = G9_read_data.groupby("school_name")["reading_score"].mean()
G9_read

G10_read_data = cs_df.loc[(cs_df["reading_score"]) & (cs_df["grade"]=="10th"),:]
G10_read = G10_read_data.groupby("school_name")["reading_score"].mean()
G10_read

G11_read_data = cs_df.loc[(cs_df["reading_score"]) & (cs_df["grade"]=="11th"),:]
G11_read = G11_read_data.groupby("school_name")["reading_score"].mean()
G11_read

G12_read_data = cs_df.loc[(cs_df["reading_score"]) & (cs_df["grade"]=="12th"),:]
G12_read = G12_read_data.groupby("school_name")["reading_score"].mean()
G12_read

#Calculate reading averages per grade

read_df = pd.DataFrame({"9th":G9_read,"10th":G10_read,"11th":G11_read,
              "12th":G12_read
               }).rename_axis("")

read_df.style.format(style_dict)

#Collect reading averages per grade into a stylish dataframe

# Scores by School Spending

In [34]:
bins = [0, 600, 620, 640, 660]
group_labels = ["<$600", "$600 - 620", "$620 - 640", "$640 - 660"]
schools_df["Spending Per Student"] = pd.cut(schools_df["Per Student Budget"], bins, labels=group_labels, include_lowest=True) 

#Cut dataframe into bins of spending per student

schools_df2 = schools_df.drop(columns=["Total Students","Per Student Budget","Total Budget"])
scores_range = schools_df2.groupby("Spending Per Student").mean()
scores_range.style.format(style_dict)

#Reorganize dataframe by new index

# Scores by Schoool Size

In [35]:
bins = [0, 1000, 2000, 3000, 4000, 5000]
group_labels = ["<1000", "1000-2000", "2000-3000","3000-4000","4000-5000"]

schools_df["Student Body"] = pd.cut(schools_df["Total Students"], bins, labels=group_labels, include_lowest=True) 
schools_df3 = schools_df.drop(columns=["School Type","Per Student Budget","Total Budget","Total Students","Spending Per Student"])
student_sizes = schools_df3.groupby("Student Body")
student_sizes.mean().style.format(style_dict)

# Scores by School Type

In [36]:
schools_df3 = schools_df2.drop(columns=["Spending Per Student"])
schools_type = schools_df3.groupby("School Type")
schools_type.max().style.format(style_dict)

# Additional Data Points

### Overall Passing by Student Percent of Budget

In [52]:
school_budget_prc = (school_budget_per_student/school_budget)*100
school_budget_prc

budget_pass_type_df = pd.DataFrame({"% Passing Overall":school_prc_pass_read_math,"Student % Budget":school_budget_prc,"School Type":school_type,"Total Students":school_students
               }).rename_axis("").sort_values("% Passing Overall")

budget_pass_type_df.style.format(style_dict)

### Average Scores by Type and Spending Per Student

In [53]:
scores_df = schools_df.drop(columns=["Total Students","Total Budget","% Passing Math","% Passing Reading","% Passing Overall","Spending Per Student", "Student Body"]).sort_values("Per Student Budget")
scores_df.style.format(style_dict)

#Organize dataframe for averages, percent passing, and per student budget

### Overall Passing by Total Students

In [54]:
schools_sizes = schools_df.drop(columns=["Total Budget","% Passing Math","% Passing Reading","Spending Per Student", "Per Student Budget", "Student Body","Average Reading","Average Math"]).sort_values("Total Students")
schools_sizes.style.format(style_dict)

### Passing Overall by Student Body Size

In [55]:
schools_df["Student Body"] = pd.cut(schools_df["Total Students"], bins, labels=group_labels, include_lowest=True) 
schools_df3 = schools_df.drop(columns=["Total Budget","% Passing Math","Average Math","Average Reading","% Passing Reading","Total Students","Spending Per Student"])
student_sizes = schools_df3.groupby("Student Body")
student_sizes.max().style.format(style_dict)

### Passing Overall by Grade Level

In [56]:
pass_math_read2 = pass_math_read.drop(columns=["School ID","Student ID","size","budget"]).rename(columns={"reading_score":"Average Reading","math_score":"Average Math"}).groupby("grade").mean().style.format(style_dict)
pass_math_read2

### Average Overall Passing and Student Percent of Budget by Type

In [64]:
budget_pass_type_df.groupby("School Type").mean().style.format(style_dict)

### Average Scores by Gender

In [43]:
pass_math_read2 = pass_math_read.drop(columns=["Student ID", "School ID", "budget","size"]).rename(columns={"reading_score": "Average Reading", "math_score": "Average Math"})
pass_math_read2.groupby("gender").mean().style.format(style_dict)